<div>
  <div>
  <i>  NEED TO FIX: Name should populate correctly </i>
    <h1>
     <%= User.name %>'s Daily Readings
    </h1>
  </div>
</div>

<img src="https://images.unsplash.com/photo-1624274579716-8eeba7da39bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
width = "400",
height "450" >




<hr>

<i>  NEED TO FIX: Table should have a list of readings for that user </i>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Tarot card
        </th>

        <th>
          User
        </th>

        <th>
          Sent
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_daily_spreads.each do |a_daily_spread| %>
      <tr>
        <td>
          <%= a_daily_spread.id %>
        </td>

        <td>
          <%= a_daily_spread.tarot_card_id %>
        </td>

        <td>
          <%= a_daily_spread.user_id %>
        </td>

        <td>
          <%= a_daily_spread.sent %>
        </td>

        <td>
          <%= time_ago_in_words(a_daily_spread.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_daily_spread.updated_at) %> ago
        </td>

        <td>
          <a href="/daily_spreads/<%= a_daily_spread.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
