<div>
  <div>
    <h1>
      <%= @the_tarot_card.name %> 
    </h1>


    </div>
</div>

<hr>

<div class="row">
  <div class="col-4"> 
    <img src="<%= @the_tarot_card.image %>" > 
    
  </div>
  <div class="col-8">
    <%= @the_tarot_card.description %>
        <p></p>
        <p></p>
    <i> <%= @the_tarot_card.name %> is a <%= @the_tarot_card.arcana %> Arcana card. </i>
  </div>
</div>

<hr>

<div>
    <a href="/daily_spreads">
      Go to your readings
    </div>

    <div>
    <a href="/tarot_cards">
      View all cards
    </div>
